html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
}

@media (max-width: 600px) {
  .App {
    background-size: auto 100%;
  }
}

.App {
  font-family: Roboto Mono;
  text-align: center;
  /* background: #82b6ff url("images/wood.jpg") no-repeat fixed top; */
  /* background-size: auto 100%; */
  /* background-size: auto 100%; */
  background-size: auto 100%;
  height: 100vh;
  overflow: auto;
}

a {
    text-decoration: none;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}

h2,
h3 {
  margin: 0.4rem 0;
}

.bg {
  background-color: #f1f1f1;
  filter: blur(1px);
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/*======= Map Styling ============*/
.gmnoprint a,
.gmnoprint span {
  display: none;
}

/*======= Embed Social ============*/
#es-header {
  margin-top: 10px;
  
}